<div class="container mx-auto px-1">
  <%= form_with(model: post, local: true) do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :owner_id, :value => session_user.id %>

    <table class="text-left p-3">
      <tr>
        <th class="p-1">タイトル：</th>
        <td class="p-1"><%= form.text_field :title %></td>
      </tr>
      <tr>
        <th class="p-1">URL：</th>
        <td class="p-1"><%= form.text_field :homepage_url %></td>
      </tr>
      <tr>
        <th colspan="2" class="p-1">
          メッセージ：<br>
          <%= form.text_area :message, :class => "w-full" %><br>

          <div class="actions">
            <%= form.submit value: "送信する" %>
          </div>
        </th>
      </tr>
    </table>
  <% end %>
</div>