<div class="container mx-auto px-1">
  <div class="divide-y divide-black divide-opacity-25">
    <div class="text-center text-3xl py-3">ゲストブック</div>
    <div class="text-center text-1 py-1">
      [<a href="/">トップに戻る</a>]
      [<a href="/">留意事項</a>]
      [<a href="<%= new_post_path %>">投稿する</a>]
    </div>
  </div>
</div>
<hr class="border-black border-1">
<div class="container mx-auto px-1 divide-y divide-black divide-opacity-25">
  <% @posts.each do |post| %>
    <div class="py-3">
      <div class="font-bold">
        [<%= post.id %>]<%= post.title %> - <%= post.user.name %>さん [<a href="<%= edit_post_path(post.id) %>">編集</a>]
      </div>
      <div class="py-1">
        <%= simple_format(post.message) %>
      </div>
    </div>

  <% end %>
</div>

