<!DOCTYPE html>
<html>
<head>
  <title>GuestBookBoard</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-green-400">
<% if flash.notice.present? %>
  <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
    <span class="block sm:inline"><%= flash.notice %></span>
  </div>
<% end %>
<%= yield %>
<hr class="border-black border-1">
<div class="text-right">
  <% if logged_in? %>
    <%= session_user.name %>さんでログイン中 [<%= link_to "ログアウト", logout_path, class: "text-blue-500 hover:text-blue-800", method: :delete %>]
  <% else %>
    <%= link_to "GitHubでログイン", "/auth/github", class: "text-blue-500 hover:text-blue-800", method: :post %>
  <% end %>
</div>
</body>
</html>
